body{
    margin: 0px;
}

.container{
    margin: 0px 400px;
}

.header{
    background-image: url(Vimg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-line{
    display: flex;
    padding-top: 30px;
    justify-content: center;
}
.nav{
   position: absolute;
   margin-top: 80px;
   border-top: 1px solid white;
   padding-top: 11px;
   border-bottom: 1px solid white;
   padding-bottom: 11px;
}

.nav-item{
    text-decoration: none;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 11px;
    border-right: 1px solid  white;
    padding-bottom: 11px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.2s linear;
}

.nav-item:hover{
    color: burlywood;
}

.nav-itemK{
    text-decoration: none;
    padding-right: 80px;
    padding-left: 80px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.2s linear;
}

.nav-itemK:hover{
    color: burlywood;
}

.inf{
    display: flex;
    justify-content: center;

}

.contact-adress{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    margin-left: -705px;
}

.contact-phone{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    margin-right: -705px;
}

.down-btns{
    display: flex;
    justify-content: center;
}

.vine-cart{
    padding: 15px 30px;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    margin-top: 560px;
    margin-left: -450px;
    transition: background-color 0.2s linear;
}

.cart-btn{
    padding: 15px 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.degustation{
    padding: 15px 30px;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    margin-top: 560px;
    margin-right: -450px;
    transition: background-color 0.2s linear;
}

.degus{
    padding: 15px 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.degustation:hover{
    background-color: burlywood;
}

.vine-cart:hover{
    background-color: burlywood;
}

.tasty{
    background-color: #282828;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 405px;
    
}

.tasty-title{
    color: white;
    font-size: 20px;
    font-family:  'Playfair Display', serif;
}

.tasty-desc{
    width: 700px;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 15px;
    padding-top: 80px;
    font-weight: 400;
    margin-left: 50px;
}

.bokal{
    padding: 50px 0px;
}

.tasty-box{
    margin-left: -460px;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 120px;
    height: 410px;
    width: 800px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

